.left-curtain {
    background: linear-gradient(-180deg, #0c003c 0%, #bfffaf 100%),
        linear-gradient(165deg, #480045 25%, #e9eaaf 100%),
        linear-gradient(145deg, #480045 25%, #e9eaaf 100%),
        linear-gradient(300deg, rgba(233, 223, 255, 0) 0%, #af89ff 100%),
        linear-gradient(
            90deg,
            #45eba5 0%,
            #45eba5 30%,
            #21aba5 30%,
            #21aba5 60%,
            #1d566e 60%,
            #1d566e 70%,
            #163a5f 70%,
            #163a5f 100%
        );
    background-blend-mode: overlay, overlay, overlay, multiply, normal;
}
.right-curtain {
    background: linear-gradient(180deg, #0c003c 0%, #bfffaf 100%),
        linear-gradient(165deg, #480045 25%, #e9eaaf 100%),
        linear-gradient(145deg, #480045 25%, #e9eaaf 100%),
        linear-gradient(300deg, rgba(233, 223, 255, 0) 0%, #af89ff 100%),
        linear-gradient(
            90deg,
            #45eba5 0%,
            #45eba5 30%,
            #21aba5 30%,
            #21aba5 60%,
            #1d566e 60%,
            #1d566e 70%,
            #163a5f 70%,
            #163a5f 100%
        );
    background-blend-mode: overlay, overlay, overlay, multiply, normal;
}

.bgimg:hover, .bgimg:focus {
    animation: rubberBand;
}